<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="XXX">
		<meta name="keywords" content="XXX">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content=" black " />
		<meta name="format-detection" content="telephone=no" />
		<meta name="full-screen" content="yes">
		<meta name="x5-fullscreen" content="true">
		<meta name="applicable-device" content="mobile">
		<title>登录-陆陆捌货到家</title>
		<link href="../favicon.ico" rel="shortcut icon">
		<link rel="stylesheet" href="../css/m.debug.css">
		<script src="../js/flexible.js"></script>
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/bmob-min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<style type="text/css">
		.tname {
			width: 18px;
			height: 18px;
		}
	</style>

	<body>
		<!--头部-->
		<div id="app">
			<header class="header">
				<a class='icon iconfont icon-left_arrow js_back' href="javascript:history.back();"></a>
				<h5>登录</h5>
			</header>
			<section class="loginBox">
				<div class="item box-size" v-show="!pwdshow">
					<i class="icon iconfont icon-dianhua"></i>
					<input id="js_username" class="input_b username box-size" type="text" placeholder="请输入手机号" v-model="phone" />
					<i class="icon iconfont icon-cuowu" @click="clear"></i>
				</div>
				<div class="item box-size" v-show="pwdshow">
					<i class="icon iconfont icon-ziyuan"></i>
					<input id="js_password" class="input_b password box-size" type="text" placeholder="请输入验证码" v-model="pwd" />
					<a href="javascript:;" id="js_code">{{state}}</a>
				</div>
				<div class="item box-size">
					<i class="icon iconfont"><img src="../images/tname.png" class="tname"/></i>
					<input id="js_password" class="input_b password box-size" type="text" placeholder="请输入推广员姓名" v-model="tname" v-show="tshow" />
				</div>
				<div class="item box-size">
					<i class="icon iconfont icon-dianhua"></i>
					<input id="js_password" class="input_b password box-size" type="text" placeholder="请输入推广员手机号" v-model="tphone" v-show="tshow" />
				</div>
				<div class="item box-size" @click="addcode" v-show="!pwdshow">
					<div class="input_login" />下一步</div>
		</div>
		<div class="item box-size" @click="myajax" v-show="pwdshow">
			<div class="input_login" />登陆</div>
		</div>
		<p class="js_agree" @click="prev" v-show="pwdshow">
			上一步
		</p>
		<p class="js_agree">
			登录即表示同意
			<a href="user.html">陆陆捌用户协议</a>
		</p>
		</section>
		</div>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					code: '',
					phone: '',
					state: 60,
					pwd: '',
					phone02: '',
					tname: '',
					tphone: '',
					tshow: false,
					pwdshow: false
				},
				methods: {
					prev: function() {
						this.pwdshow = !this.pwdshow
						this.state = 60
						this.code == ''
						this.phone == ''
						this.pwd == ''
					},
					phonechange: function() {
						var that = this
						$.ajax({
							type: "get",
							url: localStorage.getItem('myurl') + "/queryLoginByPhone",
							async: true,
							dataType: 'json',
							data: {
								userPhone: that.phone
							},
							success: function(res) {
								if(res.data[0] == 0) {
									that.tshow = true
								} else {
									that.tshow = false
								}
							}
						});
					},
					clear: function() {
						this.phone = ''
					},
					myajax: function() {
						var that = this
						if(that.pwd != '') {
//							if(that.code == that.pwd && that.phone != '') {
								if(that.tshow) {
									if(that.tname != '' && that.tphone != '') {
										$.ajax({
											type: "get",
											url: localStorage.getItem('myurl') + "/queryLoginByPromoter",
											async: false,
											dataType: 'json',
											data: {
												userPhone: that.phone,
												lpromoterName: that.tname,
												lpromoterPhone: that.tphone
											},
											success: function(res) {
												if(res.status == 200) {
													localStorage.setItem('userid', res.data.userId)
													localStorage.setItem('userimg', res.data.userImg)
													localStorage.setItem('username', res.data.uerNick)
													localStorage.setItem('usersex', res.data.uerSex)
													localStorage.setItem('userphone', that.phone)
													window.location.href = '../index.html'
												} else {
													alert(res.msg)
												}

											}
										});
									} else {
										alert('推广员手机号和姓名不能为空')
									}
								} else {
									$.ajax({
										type: "get",
										url: localStorage.getItem('myurl') + "/queryLoginByPhone",
										async: false,
										dataType: 'json',
										data: {
											userPhone: that.phone
										},
										success: function(res) {
											if(res.status == 200) {
												localStorage.setItem('userid', res.data[1].userId)
												localStorage.setItem('userimg', res.data[1].userImg)
												localStorage.setItem('username', res.data[1].uerNick)
												localStorage.setItem('usersex', res.data[1].uerSex)
												localStorage.setItem('userphone', that.phone)
												window.location.href = '../index.html'
											} else {
												alert(res.msg)
											}

										}
									});
								}
//							} else {
//								alert('验证码错误,请重试!')
//							}
						} else {
							alert('请输入验证码')
						}
					},
					addcode: function() {
						if(this.phone == 'ceshihao') {
							var that = this
							$.ajax({
								type: "get",
								url: localStorage.getItem('myurl') + "/queryLoginByPhone",
								dataType: 'json',
								data: {
									userPhone: that.phone
								},
								success: function(res) {
									if(res.status == 200) {
										localStorage.setItem('userid', res.data[1].userId)
										localStorage.setItem('userimg', res.data[1].userImg)
										localStorage.setItem('username', res.data[1].uerNick)
										localStorage.setItem('usersex', res.data[1].uerSex)
										localStorage.setItem('userphone', that.phone)
										window.location.href = '../index.html'
									} else {
										alert(res.msg)
									}

								}
							});
							return false;
						}
						if(this.state == 60 || this.state == '获取验证码') {
							this.code = Math.floor(Math.random() * 9000) + 1000;
							var that = this
//							Bmob.initialize("f7174458eab2fe581941c6a4aa56a0b7", "739d8351ef20781bb364acf69dee4772");
//							Bmob.Sms.requestSms({
//								"mobilePhoneNumber": that.phone,
//								"content": "您的验证码是：" + that.code + ", 有效期是10分钟。"
//							}).then(function(obj) {
								that.state = 60
								that.pwdshow = !that.pwdshow
								that.phonechange()
								setInterval(function() {
									if(that.state > 1) {
										that.state = that.state - 1
									} else {
										that.state = '获取验证码'
									}
								}, 1000)
								that.phone02 = that.phone
//							}, function(err) {
//								if(err.code == 10010) {
//									alert('验证码已达上限，请稍后重试')
//								} else if(err.code == 301) {
//									alert('手机号格式错误')
//								} else {
//									alert('未知错误，请联系客服')
//								}
//							});
						}
					}
				},
				mounted: function() {
					localStorage.setItem('myurl', 'http://39.107.70.18/Transportation')
				}
			})
		</script>
	</body>

</html>